.dropdown {
  cursor: pointer;
  background-color: white;
  position: relative;
  display: inline-block;
  z-index: 3;
}

.dropdownBtn {
  background-color: #002535;
  border-radius: 4px;
  color: white !important;
}
.dropdownItem {
  background-color: white;
}

.dropdownContent {
  z-index: 9999 !important;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  color: black;
  top: 100%;
}

.dropdown:hover .dropdownContent {
  display: block;
}
