.navbar {
  background-color: #002535;
  top: 0;
  width: 100%;
  position: inherit;
  display: flex;
  justify-content: center;
  /* z-index: 1; */
}
.logo {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.logoParent {
  padding-top: 2%;
  margin-left: 2%;
  width: 20%;
}
.itemsParent {
  justify-content: end;
  width: 100%;
}
.btn {
  border: none;
  display: none;
  position: absolute;
  right: 27px;
  top: 7px;
  padding: 5px;
  color: white;
  background-color: transparent;
  font-size: 32px;
}

.items {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  padding-top: 5%;
  color: #f1f1f1;
  cursor: pointer;
}
.items:nth-child(4) {
  border-left: 1px solid rgba(255, 255, 255, 0.555);
  padding-left: 20px;
  margin-left: 10px;
  /* margin-right: 10px; */
  border-width: 3px;
  text-decoration: none;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.contact {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  background-color: #ffffff;
  color: #d4b800;
  border-radius: 5px;
}
.contact:hover {
  color: #ffde03;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 750px) {
  .navbar {
    padding-top: 5%;
    z-index: 1;
  }
  .logo {
    width: 100%;
  }
  .logoParent {
    width: 100%;
  }
  .list {
    flex-direction: column;
    right: 0;
    height: 100%;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    border-width: 100%;
  }

  .items {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    text-align: start;
    font-weight: 800;
    font-size: 16px;
    padding: 50px 0;
  }
  .btn {
    padding-top: 9%;
    display: block;
    font-size: 38px;
  }
}
